In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import csv

In [2]:
data=pd.read_csv('/home/aidris/Videos/data.csv')
data12=data.copy()

In [3]:
duplicates=data[data.duplicated()]

In [4]:
dup_data=data[(data.duplicated()==True)]
data=data.drop_duplicates()

data=pd.concat(g for _, g in data.groupby(["dob",'gn']) if len(g) > 1)
data_nondup=data[data.duplicated(['dob','gn'])==False]

data_nondup['label']=np.array(range(len(data_nondup)))
data.index=np.array(range(len(data)))

/home/aidris/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [5]:
vectorizer=TfidfVectorizer()
Xln=vectorizer.fit_transform(data['ln'])
Xfn=vectorizer.fit_transform(data['fn'])
matrixln=cosine_similarity(Xln)
matrixfn=cosine_similarity(Xfn)
len(matrixln)

55

In [6]:
#def returns the most similar 
indexesln=[]
indexesfn=[]
for i in range(len(matrixln)):
    indexesln.append(np.asarray((np.where(matrixln[i]>0.2))).reshape(-1,))
    indexesfn.append(np.asarray((np.where(matrixfn[i]>0.4))).reshape(-1,))
#indexesln
#indexesfn

In [7]:
#get the union of satisfying indexes
indexeslnfn=[]
indexes_nondup=[]
for i in range(len(indexesfn)):
    indexeslnfn.append(np.intersect1d(indexesfn[i],indexesln[i]).tolist())

In [8]:
indexeslnfn

[[0],
 [1],
 [2],
 [3],
 [4, 5, 6],
 [4, 5, 6],
 [4, 5, 6],
 [7],
 [8],
 [9],
 [10],
 [11],
 [12],
 [13],
 [14],
 [15],
 [16],
 [17],
 [18],
 [19],
 [20],
 [21, 50, 51],
 [22],
 [23],
 [24, 40],
 [25],
 [26],
 [27],
 [28, 29],
 [28, 29],
 [30, 38],
 [31],
 [32],
 [33, 35, 37, 44],
 [34, 45],
 [33, 35, 37, 44],
 [36],
 [33, 35, 37, 44],
 [30, 38],
 [39],
 [24, 40],
 [41, 42, 43],
 [41, 42, 43],
 [41, 42, 43],
 [33, 35, 37, 44],
 [34, 45],
 [46],
 [47],
 [48],
 [49],
 [21, 50, 51],
 [21, 50, 51],
 [52],
 [53],
 [54]]

In [9]:
indexeslnfn=np.unique(np.array(indexeslnfn))
# getting unique indexes componentslen(indexeslnfn[0])
len(indexeslnfn)
#to delete the single dims we use list comprehensions
#as no index keeping required to check out of bounds error if using np.delete
indexeslnfn=[i for i in indexeslnfn if len(i)>1]
indexes_nondup.append([i for i in indexeslnfn if len(i)==1])
#indexeslnfn
for i in indexeslnfn:
    print(data['ln'][i])
    print('\n')
    print(data['fn'][i])
print(indexeslnfn)

4    FUNARO JONES
5        FUNARO J
6          FUNARO
Name: ln, dtype: object


4    HARRIET
5    HARRIET
6    HARRIET
Name: fn, dtype: object
21    MICHAELSON JR
50       MICHAELSON
51    MICHAELSON JR
Name: ln, dtype: object


21    ROY
50    ROY
51    ROY
Name: fn, dtype: object
24    MICHAELSON JR
40    MICHAELSON JR
Name: ln, dtype: object


24    JACK
40    JACK
Name: fn, dtype: object
28       CLARK
29    CLARK JR
Name: ln, dtype: object


28    JOHN
29    JOHN
Name: fn, dtype: object
30    MICHAELSON JR
38    MICHAELSON JR
Name: ln, dtype: object


30    JOHN
38    JOHN
Name: fn, dtype: object
33     BLAND JR
35    BLAND III
37        BLAND
44     BLAND JR
Name: ln, dtype: object


33    WILLIAM
35    WILLIAM
37    WILLIAM
44    WILLIAM
Name: fn, dtype: object
34    SHAFFER JR
45    SHAFFER JR
Name: ln, dtype: object


34    WILLIAM
45    WILLIAM
Name: fn, dtype: object
41    HANNA
42    HANNA
43    HANNA
Name: ln, dtype: object


41       ADDISON J
42    ADDISON JOHN
43         ADDISON
Name: fn, dtype: object
[[4, 5, 6], [21, 50, 51], [24, 40], [28, 29], [30, 38], [33, 35, 37, 44], [34, 45], [41, 42, 43]]

In [10]:
print(data['dob'][[3,4]])

3    01/03/68
4    06/12/37
Name: dob, dtype: object

In [11]:
i4=[]
for i in range(len(indexeslnfn)):
    i2=[]
    i3=[]
    for i1 in indexeslnfn[i]:
        a=np.asarray(np.where(data['dob'][indexeslnfn[i]]==data['dob'][i1]))
        b=np.asarray(np.where(data['gn'][indexeslnfn[i]]==data['gn'][i1]))
        ia=np.asarray(np.intersect1d(a,b))
    i4.append(ia)
    #print(i2)
    #print(i3)

#indexeslnfn=[indexeslnfn[i] for i in range(len(indexeslnfn)) if len(i4[i])]

#dup_indexes=np.array(indexeslnfn.copy())   
print(i4)

[array([0, 1, 2]), array([1, 2]), array([1]), array([0, 1]), array([1]), array([3]), array([1]), array([0, 1, 2])]

In [12]:
indexeslnfn

[[4, 5, 6],
 [21, 50, 51],
 [24, 40],
 [28, 29],
 [30, 38],
 [33, 35, 37, 44],
 [34, 45],
 [41, 42, 43]]

In [13]:
len(indexeslnfn)

8

In [14]:
len(i4)#;len(indexeslnfn);

8

In [15]:
indexo=[]
for l in range(len(indexeslnfn)):
        for k in i4[l]:
            if (len(indexeslnfn[l])>1):
                indexo.append(indexeslnfn[l][k])
print(indexo)

[4, 5, 6, 50, 51, 40, 28, 29, 38, 44, 45, 41, 42, 43]

In [16]:
data3=data.copy()
final_data= data.drop(indexo)
final_data=final_data.drop('label',axis=1)
#for i in indexo:
#   print(data.iloc[i])

## FINAL DATASET

In [17]:
#POSSIBLE UNIQUE DATASET
print('Cleaned Dataset')
print('\n')
final_data.index=np.arange(len(final_data)) #comment for maintaining the IDs
print(final_data)
final_data.to_csv('unique.csv')

Cleaned Dataset


               ln       dob gn        fn
0        SMITH JR  01/03/68  F   WILLIAM
1    ROTHMEYER JR  01/03/68  F   WILLIAM
2         ASBY JR  01/03/68  F   WILLIAM
3       SALTER JR  01/03/68  F   WILLIAM
4      GRIFFIN JR  07/05/37  M      DARL
5      GRIFFIN JR  07/05/37  M  CLIFFORD
6      GRIFFIN JR  07/05/37  M  CLARENCE
7     MUSTAPHA JR  07/10/37  M    HAROLD
8     HOUGHTON JR  07/10/37  M    HAROLD
9       MELVIN JR  07/10/37  M    HAROLD
10      CHAVAS JR  07/10/37  M    HAROLD
11  MICHAELSON JR  07/10/37  M    HAROLD
12       SMITH JR  07/10/37  M    HAROLD
13       FAGEN JR  07/10/37  M    HAROLD
14       FAGEN JR  07/10/37  M    GEORGE
15     GRIFFIN JR  07/10/37  M      DARH
16          CLARK  09/02/45  M    RONALD
17          CLARK  09/02/45  M    DONALD
18  MICHAELSON JR  09/04/47  M       ROY
19  MICHAELSON JR  09/04/47  M    ROBERT
20  MICHAELSON JR  09/04/47  M       BOB
21  MICHAELSON JR  09/06/39  M      JACK
22      LARSON JR  09/06/39  M    HAROLD
23    MUSTAPHA JR  11/03/47  M      OWEN
24    MUSTAPHA JR  11/03/47  M      OWAN
25  MICHAELSON JR  16/12/44  M      JOHN
26        LIND JR  20/01/46  M      JOHN
27        CAIN JR  20/01/46  M      JOHN
28       BLAND JR  21/02/62  F   WILLIAM
29     SHAFFER JR  21/02/62  F   WILLIAM
30      BLAND III  21/02/62  F   WILLIAM
31       BLAND JR  21/02/62  F      BILL
32          BLAND  21/02/62  F   WILLIAM
33  MICHAELSON JR  24/06/39  M     JAMES
34      DUNCAN JR  25/10/53  F    THOMAS
35     CARLSON JR  25/10/53  F       ROY
36     CARLSON JR  25/10/53  F       RON
37      DUNCAN JR  25/10/53  F       ROY
38    HOUGHTON JR  31/01/46  M  LAWRENCE
39        LIND JR  31/01/46  M  LAWRENCE
40        LIND JR  31/01/46  M   KENNETH

## IDENTIFIED DUPLICATES

In [18]:
#IDENTIFIED DUPLICATES

print('Identified Duplicates\n')
identified_dup=data.iloc[indexo]
identified_dup.index=np.arange(len(identified_dup))
#print(data.iloc[indexo])
print(identified_dup)
identified_dup.to_csv('duplicates.csv')

Identified Duplicates

               ln       dob gn            fn  label
0    FUNARO JONES  06/12/37  F       HARRIET    NaN
1        FUNARO J  06/12/37  F       HARRIET    NaN
2          FUNARO  06/12/37  F       HARRIET    NaN
3      MICHAELSON  25/10/53  M           ROY    NaN
4   MICHAELSON JR  25/10/53  M           ROY    NaN
5   MICHAELSON JR  24/06/39  M          JACK    NaN
6           CLARK  16/12/44  M          JOHN    NaN
7        CLARK JR  16/12/44  M          JOHN    NaN
8   MICHAELSON JR  24/06/39  M          JOHN    NaN
9        BLAND JR  25/10/53  F       WILLIAM    NaN
10     SHAFFER JR  25/10/53  F       WILLIAM    NaN
11          HANNA  24/11/34  M     ADDISON J    NaN
12          HANNA  24/11/34  M  ADDISON JOHN    NaN
13          HANNA  24/11/34  M       ADDISON    NaN